/* Styles for the Hello Buffer site
* Author: Andrew E. Mauney
* Since: 0.1
* @chrytonbaine
*/

@mixin dib{
	display: inline-block;
	zoom: 1;
	*display: block;
	vertical-align: top;
}

body{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
}

section{
	h1,h2{text-align: center}
	&#section0{
		.buffer-top{
			position: relative;
			left: 48%;
			width: 0; 
			height: 0; 
			border-left: 33px solid transparent;
			border-right: 33px solid transparent;
			border-bottom: 18px solid black;
		}
		.square1{
			// background: black;
			// width: 18px;
			position: relative;
			left: 48%;
			width: 0; 
				height: 0; 
				border-left: 33px solid transparent;
				border-right: 33px solid transparent;
				border-top: 18px solid black;
				z-index: 5
		}
		.square2{
			position: relative;
			left: 48%;
			width: 0; 
				height: 0; 
				border-left: 33px solid transparent;
				border-right: 33px solid transparent;
				border-top: 18px solid white;
				// background: pink;
				top: -11px;
				z-index: 4;
		}
		.square3{@extend .square1;
		z-index: 3;
		top: -37px;}
		.square3top{@extend .buffer-top;
			z-index: 3;
			top: -37px;}
		.square4{@extend .square2;
			top: -47px;
			z-index: 2;
			}
		.square5{@extend .square1;
			z-index: 1;
		top: -73px;}
		.square5top{@extend .buffer-top;
		z-index: 1;
		top: -73px;}
	}
	&#section1{
		background: green;
	}
	.buffer-team{
		width: 75%;
		margin: 15px auto;
		.team-member{
			width: 200px;
			margin-right: 15px;
			img{
				width: 200px;
				-webkit-border-radius: 105px;
				-moz-border-radius: 105px;
				border-radius: 105px;
				border: 5px solid #ccc;
			}
			@include dib;
		}
	}
	&#section5{
		background: purple;
	}
	.slide{
		background: #76D1F5;
	}
	span.arrow{
		font-size: 1.75em;
		vertical-align: bottom;
		line-height: 1em;
	}
	.bottom-img{
		height: 500px;
		width: 100%;
		position: relative;
		top: 50%;
		background: url('http://baconmockup.com/1300/1200');
		background-size: cover;
	}
}